/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

  }
  
  .login-box {
    background-color: #51586b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: right;
    transition: background-color 0.3s;
    width:300px
  }
  
  .login-box h2 {
    text-align: center;
    color: aliceblue;
  }
  
  .login-box.input-hovered {
    /* background-color: #444; */
    background-color: #a24;
  }
  
  

  .input {
    text-align: left;
    margin: 7px 3px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #fff;
  }
  
  button.login-button {
    padding: 9.5px 20px;
    border: none;
    background-color: #e7e7e7;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  button.login-button.button-hovered {
    background-color: #0056b3;
    color: #fff;
    box-shadow: 0 0 10px rgb(144, 198, 255), 0 0 10px rgb(39, 136, 255);
  }
  