#root {
 
   /* transform: scale(0.85);
  transform-origin:1 0;  */
} 

/* body {
  background-color: rgb(211, 211, 211);

} */

html {
  background-color: rgb(211, 211, 211);
  zoom: 0.85;
  font-size: 83.5%;
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: border-box;
}
