.App {
  font-family: sans-serif;
  /* text-align: center; */
  box-sizing: border-box;
  padding: 0;
  
}
html {
  font-size: 80.5%;
  background-color: rgb(211, 211, 211);
}
/* .flexible {
  flex-grow: 1;
} */

