.App {
  font-family: 'Chakra Petch', sans-serif;
  /* text-align: center; */
  box-sizing: border-box;
  padding: 0;
  
}
html {
  font-size: 83.5%;
  background-color: rgb(211, 211, 211);
}
html{ zoom: 80%; }
/* .flexible {
  flex-grow: 1;
} */

