.body {
    display: flex;
    
}
.page {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-color: #ffffff;
    /* padding: 10px; */
    width: 700px;
  }
  .table {
    display: table;
    width: auto;
    border:1px solid #525252 ;
    margin: 1.9cm 1.32cm 3.67cm 1.9cm;
  }
  .tableRow {
    margin: auto;
    flex-direction: row;
    /* border:1px solid #525252  */
  }

  .tableCol {
    border:1px solid #525252 
    
  }

  .tableCell{ 
    margin: auto; 
    margin-top: 5; 
    font-size: 10 
}
  