.mainCardBottom {
    background-color: #FFFFFF;
    
    padding: 10px 16px 10px;
    margin-block: 6px;
    box-shadow: 2px 2px 2px 1px rgba(92, 92, 92, 0.5);
    position:relative;
    display: flex;
    justify-content: space-around;
}

.colorBottomBtn {
    zoom: 110%;
    height: 27.5px;
    border-radius: 0px;
    background-color: #42528A;
}
