.mainCardFilter {
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    padding: 8px 16px;
    margin-block: 6px;
    box-shadow: 2px 2px 2px 1px rgba(92, 92, 92, 0.5);
}

.my-option {
    background-color: blue;
    color: white;
  }
  
.dropDown {
    color:rgb(68, 68, 68)
}

.dropDown select{
   border: solid 1px rgb(180, 180, 180);
   color:rgb(85, 85, 85);
   padding: 
}
